---
- name: "Install {{ category }} packages via apt"
  apt:
    name: "{{ software_categories[category].packages.apt | default([]) }}"
    state: present
    update_cache: yes
  when: software_categories[category].packages.apt is defined and (software_categories[category].packages.apt | length > 0)
  become: yes

- name: "Install {{ category }} packages via flatpak"
  flatpak:
    name: "{{ item }}"
    state: present
  loop: "{{ software_categories[category].packages.flatpak | default([]) }}"
  when: software_categories[category].packages.flatpak is defined

- name: "Install {{ category }} packages via snap"
  snap:
    name: "{{ item }}"
    state: present
  loop: "{{ software_categories[category].packages.snap | default([]) }}"
  when: software_categories[category].packages.snap is defined

- name: "Install {{ category }} packages via pip"
  pip:
    name: "{{ item }}"
    state: present
  loop: "{{ software_categories[category].packages.pip | default([]) }}"
  when: software_categories[category].packages.pip is defined
  become: yes

- name: "Install {{ category }} packages via cargo"
  shell: cargo install {{ item }}
  loop: "{{ software_categories[category].packages.cargo | default([]) }}"
  when: software_categories[category].packages.cargo is defined
  become: no

- name: "Install {{ category }} packages via npm"
  npm:
    name: "{{ item }}"
    global: yes
  loop: "{{ software_categories[category].packages.npm | default([]) }}"
  when: software_categories[category].packages.npm is defined
  become: yes

- name: "Add user to docker group"
  user:
    name: "{{ ansible_env.USER }}"
    groups: docker
    append: yes
  become: yes
  when: "'docker.io' in software_categories[category].packages.apt"

- name: "Enable and start docker service"
  systemd:
    name: docker
    enabled: yes
    state: started
  become: yes
  when: "'docker.io' in software_categories[category].packages.apt"

