---
- name: "Gather all dotfiles from categories"
  set_fact:
    all_dotfiles: "{{ software_categories.values() | map(attribute='dotfiles') | flatten }}"

- name: "Create config directories"
  file:
    path: "{{ ansible_env.HOME }}/{{ item.dest | dirname }}"
    state: directory
    mode: '0755'
  loop: "{{ all_dotfiles }}"
  when: (item.dest | dirname) != "" and (item.dest | dirname) != "."
  become: no

- name: "Symlink dotfiles"
  file:
    src: "{{ playbook_dir }}/dotfiles/{{ item.src }}"
    dest: "{{ ansible_env.HOME }}/{{ item.dest }}"
    state: link
    force: yes
  loop: "{{ all_dotfiles }}"
  become: no

