- name: Install base packages (apt)
  apt:
    name:
      - alacritty
      - zsh
      - tmux
      - neovim
      
      # Terminal QoL
      - zoxide
      - fd-find
      - bat
      - fzf
      - wget
      - jq
      - which
      - fastfetch
      - tree
      - unzip
      - zip
      - git
      - gcc

      # Package managers
        # TODO: Write single interface for package management.
      - nala
      - flatpak
      - snapd
      - cargo

      - python3
      - pip
    state: present

- name: Install base packages (snap)
  community.general.snap:
    name: 
      # More terminal QoL
      - dust
    state: present

# - name: Install base packages (cargo)
#   community.general.cargo:
#     name: 
#       - topgrade  # Handle package updates for all package managers (TODO: Check which).
#       
#       # More terminal QoL
#       # - starship
#     state: present
