- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600  # Only update if cache is older than 1 hour

- name: Install base packages (apt)
  apt:
    name:
      - alacritty
      - zsh
      - tmux
      - neovim
      
      # Terminal QoL
      - zoxide
      - fd-find
      - du-dust
      - bat
      - fzf
      - wget
      - jq
      - which
      - fastfetch
      - tree
      - unzip
      - zip
      - git
      - gcc

      # Package managers
        # TODO: Write single interface for package management.
      - nala
      - flatpak
      - snapd
      - topgrade

      - rustc
      - cargo
      - python3
      - pip
    state: present

- name: Install base packages (cargo)
  community.general.cargo:
    name: 
      - topgrade  # Handle package updates for all package managers (TODO: Check which).
      
      # More terminal QoL
      - starship
    state: present