- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600  # Only update if cache is older than 1 hour

- name: Install base packages (apt)
  apt:
    name:
      - alacritty
      - zsh
      - tmux
      - neovim
      
      # Terminal QoL
      - zoxide
      - fd-find
      - du-dust
      - bat
      - fzf
      - wget
      - jq
      - which
      - fastfetch
      - tree
      - unzip
      - zip
      - git
      - gcc

      # Package managers
        # TODO: Write single interface for package management.
      - nala
      - flatpak
      - snapd

      - python3
      - pip
    state: present

- name: check if cargo is installed
  shell: command -v cargo
  register: cargo_exists
  ignore_errors: yes

- name: download rust installer
  when: cargo_exists is failed
  get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
    force: 'yes'

- name: install rust/cargo
  when: cargo_exists is failed
  shell: /tmp/sh.rustup.rs -y
  args:
    creates: /root/.cargo/bin/cargo

- name: Install base packages (cargo)
  community.general.cargo:
    name: 
      - topgrade  # Handle package updates for all package managers (TODO: Check which).
      
      # More terminal QoL
      # - starship
    state: present
